<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114119225553-8jgrg4ebi2kckq9kb0oi81ciitrqsr28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114119225553-8jgrg4ebi2kckq9kb0oi81ciitrqsr28</string>
	<key>API_KEY</key>
	<string>AIzaSyCG7MJbTox-VmQDu1gc6yl_FW1dL7JhDiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>114119225553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.getxStorage</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-419b8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-419b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114119225553:ios:428d9f18f1d2973b8fd5f0</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-419b8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>